# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Data files
data/raw/
data/processed/

# Model & vector artifacts
*.pkl
*.index

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db
